body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.295);
}
.cir{
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgb(208 226 25);
}
.sym{
    position: absolute;
    font-size: 21px;
    color: #3b10e7;
}
.syma{
    margin: 0px 0px 0px 90px;
    position: absolute;
}
.symb{
    margin: 90px 0px 0px 174px;
    position: absolute;
}
.symc{
    margin: 168px 0px 0px 90px;
    position: absolute;
}
.symd{
    margin: 90px 0px 0px 14px;
    position: absolute;
}
.syme{
    margin: 37px 0px 0px 20px;
    position: absolute;
}
#sf{
    position: absolute;
    top: 52%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}
.num{
    width: 150px;
    height: 15px;
    border: 2px solid;
    position: absolute;

}
p{
    margin: 300px -5px 0 -147px;
}
.con{
    position: relative;
    margin: 233px -45px 0 -195px;
}
input{
    position: absolute;
    margin: 0 15px 0 155px;
}